body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
}

.header {
  background-color: #A26FFD;
  padding: 8px;
  width: auto;
  display: flex;
  align-items: center;
}

.container {
  width: 350px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#backButton {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #fffdfd;
  cursor: pointer;
  margin-right: 16px;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
}

#searchInput {
  width: 100%;
  padding: 8px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 50px;
  border: 2px solid #A26FFD;

}

#searchInput:focus {
  outline: none;
  border-color: #A26FFD;
  box-shadow: 0 0 5px rgba(162, 111, 253, 0.5);
}

#searchButton {
  background-color: #A26FFD;
  color: #ffffff;
  border: none;
  margin-right: 4px;
  border-radius: 50px;
  padding: 8px 16px;
  cursor: pointer;
}

.product-list {
  display: flex;
  flex-direction: column;
}

#searchResults {
  height: 300px;
  max-height: 600px;
  max-width: 600px;
}

.product-card {
  display: flex;
  position: relative;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;
  background-color: #BDBDBD;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100px;
  border-radius: 8px;
  padding: 4px;
  height: auto;
}

.product-details {
  padding: 12px;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
}

.product-name:hover {
  color: #444343;
}



.product-price {
  font-size: 14px;
  color: #2b2b2b;
  margin-bottom: 8px;
}

.product-rating {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}


.product-rating i {
  font-size: 16px;
  color: #A26FFD;
  margin-right: 4px;
}

.product-rating i.empty {
  color: #ccc;
}

.product-store {
  font-size: 14px;
  color: #555;
}


.page-numbers-container {
  margin-top: auto;
  display: flex;
  justify-content: end;
  gap: 8px;
  right: 0;
  padding: 8px;

}

.page-number {
  cursor: pointer;
  padding: 8px;
  background-color: #e0e0e0;
  border-radius: 4px;

}

.page-number.current-page {
  background-color: #A26FFD;
  color: #ffffff;
  border-radius: 4px;
}

.page-number:hover {
  background-color: #bdbdbd;
}

.recommended-products-container {
  display: flex;
  overflow-x: auto;
  padding: 16px;
  margin-top: 10px;
}

.recommended-product-card {
  width: 250px;
  margin-right: 8px;
  background-color: #BDBDBD;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}


.recommended-product-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
}

.recommended-product-details {
  display: flex;
  flex-direction: column;
}

.recommended-product-name {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
}

.recommended-product-price {
  font-size: 12px;
  color: #2b2b2b;
  margin-bottom: 4px;
}

.recommended-product-store {
  font-size: 12px;
  color: #2b2b2b;
}